#Front-End

**/node_modules
**/out
**/target
**/.idea
**/dist
**/.vscode
**/*.iml
/front-end/nohup.out
/front-end/front-end.iml

/front-end/.angular
/front-end/.env

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/front-end/dist
/front-end/tmp
/front-end/out-tsc
/front-end/bazel-out

# Node
/front-end/node_modules
/front-end/npm-debug.log
/front-end/yarn-error.log

# IDEs and editors
/front-end/.idea/
/front-end/.project
/front-end/.classpath
/front-end/.c9/
*.launch
/front-end/.settings/
*.sublime-workspace

# Visual Studio Code
/front-end/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/front-end/.history/*

# Miscellaneous
/front-end/.angular/cache
/front-end/.sass-cache/
/front-end/connect.lock
/front-end/coverage
/front-end/libpeerconnection.log
/front-end/testem.log
/front-end/typings

# System files
/front-end/.DS_Store
/front-end/Thumbs.db


#back-end

/back-end/HELP.md
/back-end/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/application.properties

### STS ###
/back-end/.apt_generated
/back-end/.classpath
/back-end/.factorypath
/back-end/.project
/back-end/.settings
/back-end/.springBeans
/back-end/.sts4-cache

### IntelliJ IDEA ###
/back-end/.idea
/back-end/*.iws
/back-end/*.iml
/back-end/*.ipr

### NetBeans ###
/back-end/nbproject/private/
/back-end/nbbuild/
/back-end/dist/
/back-end/nbdist/
/back-end/.nb-gradle/
/back-end/uild/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
/back-end/.vscode/
